@model IEnumerable<Proekt_IT.Models.Menu>
@{
    ViewBag.Title = "Мени";
}

    <script type="text/javascript">
        function AddToCart(item) {
            alert("Успешно додадено во кошничка!");
            window.location = "/Menus/AddToCart/" + item;
        }
        function Edit(item) {
            window.location = "/Menus/Edit/" + item;
        }
        function Delete(item) {
            window.location = "/Menus/Delete/" + item;
        }
        function Create() {
            window.location = "/Menus/Create/";
        }
    </script>
    <div class="container">
        <h2 style="position:relative; left:50%;">Мени</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <input type="button" style="position:relative; left:50%;" value="Додај" class="btn btn-primary" onclick="Create()" />
        }
        <hr/>
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="border: 2px solid black">
                <div style="text-align: center; border-bottom: 2px solid maroon">
                    <h3>@item.imeNaJadenje</h3>
                </div>
                <div>
                    <div class="col-md-8">
                        <img src="@Url.Content(@item.imgUrl)" width="150px" height="150px" />
                    </div>
                    <div class="col-md-4" style="text-align: left">
                        <b>@item.sostojki</b>
                    </div>
                </div>

                <div class="col-md-8" style="font-size: 18px; border-top: 2px solid maroon; padding: 2px">
                    <b>@item.cena.ToString("#,##0.00 MKD")</b>
                </div>
                <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <input type="button" value="Измени" class="btn btn-primary" onclick="Edit(@item.id)" />
                        <input type="button" value="Избриши" class="btn btn-primary" onclick="Delete(@item.id)" />
                    }
                    else
                    {
                        <input type="button" name="AddToCart" value="Нарачај" class="btn btn-primary" itemid="@item.id" id="btnAddToCart" onclick="AddToCart(@item.id)" />
                    }
                </div>

            </div>
        }
    </div>
