@model Proekt_IT.Models.Table

@{
    ViewBag.Title = "Сметка";
}

<h2>Сметка- маса број @Model.id</h2>

<h3>Ви благодариме на довербата, ве очекуваме повторно.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brojNaGosti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojNaGosti)
        </dd>
        <dt>
            Имате нарачано:
        </dt>
        <dd>
            @Model.orders
        </dd>
        <dt>
            Вкупно за плаќање:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Плати" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
